/*--------------------------- 
    CONTAINER
---------------------------*/
.ms-container-vh{
    height: calc(100vh - 60px);
}

.container-main{
    width: calc(100% - 60px);
}

/*--------------------------- 
    HEADER
---------------------------*/
header{
    z-index: 10;
    height: 60px;
}

.ms-logo{
    width: 50px;
}

.ms-lg-logo{
    width: 100px;
}

.ms-bar-bg{
    background-color: #E5E5E5;
}

.ms-form-control:focus{
    border: none;
    box-shadow: none;
}

.ms-fs-14{
    font-size: 14px;
}

/*--------------------------- 
    MAIN
---------------------------*/
aside{
    background-image: url(img/sidebar-bg.png);
    background-size: cover;
    background-position: top;
    width: 60px;
    height: calc(100vh - 60px);
    background-color: #051E34;
}

aside button:hover{
    opacity: 70%;
}

.ms-dropdown-toggle::after {
    display: none;
}

.ms-bg-darkblue{
    background-color: #165BBA;
}

/*--------------------------- 
    RESPONSIVE
---------------------------*/
@media screen and (min-width: 992px) {
    aside{
        width: 120px;
    }

    aside button i.fa-signal{
        margin-right: -6px;
    }

    aside button i.fa-house{
        margin-right: -5px;
    }

    .container-main{
        width: calc(100% - 120px);
    }

    .offcanvas{
        width: calc(100vw / 2) !important;
    }
}